<main>
    <!-- Screen component -->
    <app-screen [screenValue]="screenValue"></app-screen>
    <!-- End Screen component -->

    <!-- Buttons section -->
    <app-buttons [historic]="historic" (onNuevoNumero)="agregarNuevoNumero($event)" (onBorrarNumero)="borrarNumero()" (onEraseNumber)="erase()" (onModalHistorial)="open($event)"></app-buttons>
    
    <!-- Equal Button For Operations -->
    <div class="row position-relative" style="left: 10em; bottom: 3.3em;"> 
        <button class="btn btn-primary smallB" (click)="equal()">=</button>
     </div>
    <!-- End Equal Button -->

    <!-- End button section -->
</main>

